.person {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  border-radius: 50%;
  text-align: center;
  padding-top: 8px;
  z-index: 1;
}

.body {
  margin-top: 4px;
}
